@model eagle_hometeach.src.Models.RequestModels.LoginRequestModel

@{
    ViewData["Title"] = "Log in";
}


@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

<div class="container login-container">
    <div class="form-container">
        <h2 style="color: #41b5fc; font-size: 32px; position: relative; margin-top: 30px; margin-left: 23px; margin-bottom: -24px;">Login </h2>
        <form asp-controller="Accounts" asp-action="Login" class="login-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <p>@ViewBag.Message</p>
            <div class="email">
                <i class="fas fa-envelope"></i>
                <input type="email" asp-for="Email" placeholder="Email" />
            </div>
            <div class="password">
                <i class="fas fa-lock"></i>
                <input type="password" asp-for="Password" placeholder="Password" />
                <i class="fas fa-eye"></i>
                @*Forgot Password section*@
                <p class="forgot-password"><a asp-controller="Accounts" asp-action="ForgotPassword"></a></p>
            </div>
            <input type="submit" value="Login" />
            <p>Don't have an account? <a asp-controller="Accounts" asp-action="Register">Register</a></p>
        </form>
    </div>
</div>


@section JavaScript
{
    <script defer type="text/javascript" src="@Url.Content("~/js/login.js")"></script>
}

