@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fcfcfc;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
}

header .wrapper {
   margin-bottom: 5rem;
}

.nav-lists {
	display: none;
}

.nav-list {
	padding: 0 1.5rem;
	list-style-type: none;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6vh;
}

.nav-link {
	font-size: 1rem;
	text-decoration: none;
	color: #08b4fc;
}

.logo {
	color: #08b4fc;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 1.7px;
}

.logo span {
	background-color: #08b4fc;
	color: #fff;
}

/**Hamburger ICON **/
.hamburger-icon {
	width: 100px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
   cursor: pointer;
   position: relative;
   z-index: 17;
}

.hamburger-line-1,
.hamburger-line-2,
.hamburger-line-3 {
	background-color: #08b4fc;
	width: 1.78rem;
	height: 0.2rem;
	transition: all 0.2s ease-in-out;
}

.hamburger-line-1,
.hamburger-line-2 {
	margin-bottom: 6px;
}

/* Show class to  change the state of hambuger icon cross*/
.show .hamburger-line-1 {
	transform: translateY(10px) rotate(135deg);
}

.show .hamburger-line-2 {
	opacity: 0;
}

.show .hamburger-line-3 {
	transform: translateY(-8.6px) rotate(-135deg);
}

/*Show */

header ul.show {
	position: fixed;
	background-color: #fff;
	top: 8vh;
	left: 0;
	height: 100%;
	width: 100%;
	margin-top: -8vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
   align-items: center;
   z-index: 14;
}

header ul.show li {
	margin: 1rem 0;
}

.btn {
	border: none;
	text-decoration: none;
	padding: 0.3rem 1rem;
	border-radius: 5px;
	background-color: #fcfcfc;
	font-size: 1rem;
}


.btn-primary {
	background-color: #08b4fc;
	color: #fff;
}



@media (min-width: 850px) {
	.nav-lists {
		display: flex;
	}

	.hamburger-icon {
		display: none;
	}
}